@* @page "/material/create"
@page "/material/update/{id:int}" *@
@inject IMaterialRepository _materialRepository
@inject NavigationManager _navigationManager
@inject IJSRuntime _JS

<h3>CatergoryUpsert</h3>

@if (IsProcessing)
{
    <div class="position-absolute w-75 h-75 d-flex flex-column align-items-center bg-white justify-content-center">
        <img src="/lib/images/loading.gif" alt="loading" />
    </div>
}
else
{
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-black bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py2">@(Id == 0 ? "Create" : "Update") Material</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <EditForm Model="Material" FormName="CategoryUpsertForm" OnValidSubmit="UpsertMaterial">
                <DataAnnotationsValidator />
                <div class="border p-3 mt-4">
                    <div class="form-floating py-3 col-12">
                        <InputText @bind-Value="Material.MaterialName" class="form-control" id="Name" placeholder="Name" />
                        <label for="Name">Name</label>
                        <ValidationMessage For="@(() => Material.MaterialName)" class="text-danger" />
                    </div>
                    <div class="form-floating py-3 col-12">
                        <InputTextArea @bind-Value="Material.MaterialDescription" class="form-control" id="Name" placeholder="Description" />
                        <label for="Description">Description</label>
                        <ValidationMessage For="@(() => Material.MaterialDescription)" class="text-danger" />
                    </div>
                    <div class="form-floating py-3 col-12">
                        <InputText @bind-Value="Material.MaterialSerialNumber" class="form-control" id="Name" placeholder="Serial Number" />
                        <label for="Serial Number">Serial Number</label>
                        <ValidationMessage For="@(() => Material.MaterialSerialNumber)" class="text-danger" />
                    </div>
                    <div class="form-floating py-3 col-12">
                        <InputNumber @bind-Value="Material.Quantity" class="form-control" id="Name" placeholder="Quantity" />
                        <label for="Quantity">Quantity</label>
                        <ValidationMessage For="@(() => Material.Quantity)" class="text-danger" />
                    </div>
                    <div class="form-floating py-3 col-12">
                        All Used
                        <InputSelect @bind-Value="Material.AllUsed">
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </InputSelect>

                    </div>
                    <div class="row mt-3">
                        <div class="col-6 col-md-3">
                            <button type="submit" class="btn btn-primary form-control" disabled="@IsProcessing">
                                <i class="bi bi-floppy2-fill"> @(Id > 0 ? " Update" : " Create")</i>
                            </button>
                        </div>
                        <div class="col-6 col-md-3">
                            <a href="category" class="btn btn-secondary form-control" disabled="@IsProcessing">
                                <i class="bi bi-arrow-bar-left"> Back To List</i>
                            </a>
                        </div>
                    </div>

                </div>

            </EditForm>




        </div>
    </div>
}

@code {

    private bool IsProcessing { get; set; } = true;


    [SupplyParameterFromForm]
    private Material Material { get; set; } = new Material();

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // This method is called after the component has rendered to make sure that the data is loaded only once.
        if (firstRender)
        {
            await LoadMaterial();
            IsProcessing = false;
            StateHasChanged();
        }
    }

    private async Task LoadMaterial()
    {
        if (Id > 0)
        {
            Material = await _materialRepository.GetMaterialByIdAsync(Id);
        }
    }

    private async Task UpsertMaterial()
    {
        IsProcessing = true;
        if (Material.MaterialID == 0) // Create a new category
        {
            await _materialRepository.CreateMaterialAsync(Material);
            await _JS.ToastrSuccess("Material Successfully Created");
        }
        else // update category
        {
            await _materialRepository.UpdateMaterialAsync(Material);
            await _JS.ToastrSuccess("Material Successfully Updated");
        }
        IsProcessing = false;
        _navigationManager.NavigateTo("MaterialList");
    }
}
